<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Trie Example - Search tool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Style/style.css')}}">
</head>
<body>


    <div class="intro">
        <div>
            TheYk AutoComplete Search Bar
        </div>
        
    </div>

    <div class = "searchBar">
    <input type="text" id="inpfield" name="inpfield" placeholder="start searching for yukesh" >
</div>


    <div class="searchResults searchResultsBox" id="searchResults">

    </div>


    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>


</html>